.wrapper {
  transition: 150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 9999;

  .custom-cursor {
    width: 1rem;
    height: 1rem;
    background: #2ec4b6;
    transition: 200ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
    backdrop-filter: blur(50px);
    border-radius: 50%;
  }
}
