<section class="intro-wrapper">
  <div class="intro" oppositeDirectionMove movementSpeed="0.03">
    <div>
      <h3 #intro>Hello I'M</h3>
    </div>
    <div><h1 #intro>Vernica</h1></div>
    <div>
      <p #intro>
        <span>Melting Pot </span> is the place where you will get to see a
        variety of artworks created using different materials and mediums. It is
        a juxtaposition of my skills, values, and beliefs.
      </p>
    </div>
    <div>
        <a #intro class="btn" [href]="assets.CV" download appCursorHover cursorSize="2">Download CV</a>
    </div>
  </div>
</section>
